<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            <h4 class="modal-title">Стикеры</h4>
         </div>
         <div class="modal-body" style="padding-bottom: 1px;">
            <div class="float-right">
               <img src="/img/modules/app_stikers.png"  width="48" height="48">
               <br><br><p><b>v.0.1a</b></p>
            </div>
            <p class="float-left">
               Приложение для создания стикиров, и размещения их на страницах и сценах.<br><br>
               Проект в  <a href="https://github.com/ZokkiMir/MajorDoMo_app_Stickers" target="_blank">Github</a>.<br>
            </p>
            <hr size="1">
            <p class="float-left">
               Поддержать разработку и развитие модуля:
               <ul>
                  <li>Yandex: <a href="https://money.yandex.ru/to/410015366611939" target="_blank">410015366611939</a></li>
                  <li>Внутренний счет в <a href="ссылка на проект в коннекте" target="_blank">Connect</a></li>
               </ul>
            </p>
         </div>
         <div class="modal-footer" style="margin-top: 1px;">
            <div class="pull-left">Автор: <a href="ссылка для связи с автором" target="_blank">ZokkiMir</a></div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
         </div>
      </div>
   </div>
</div>
