
<!-- Table 'app_stikers_data' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
<div class="form-group[#if ERR_TITLE#] has-error[#endif#]">
 <label for="title" class="col-lg-3 control-label">
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-9"><input id="title" name="title" value="[#TITLE#]" type="text" class="form-control"></div>
</div>
<!-- TEXT (varchar) -->
<div class="form-group[#if ERR_TEXT#] has-error[#endif#]">
 <label for="text" class="col-lg-3 control-label">
 text:
 </label>
 <div class="col-lg-9"><input id="text" name="text" value="[#TEXT#]" type="text" class="form-control"></div>
</div>
<!-- NAME (varchar) -->
<div class="form-group[#if ERR_NAME#] has-error[#endif#]">
 <label for="name" class="col-lg-3 control-label">
 name:
 </label>
 <div class="col-lg-9"><input id="name" name="name" value="[#NAME#]" type="text" class="form-control"></div>
</div>
<!-- COLOR (varchar) -->
<div class="form-group[#if ERR_COLOR#] has-error[#endif#]">
 <label for="color" class="col-lg-3 control-label">
 color:
 </label>
 <div class="col-lg-9"><input id="color" name="color" value="[#COLOR#]" type="text" class="form-control"></div>
</div>
<!-- XYZ (varchar) -->
<div class="form-group[#if ERR_XYZ#] has-error[#endif#]">
 <label for="xyz" class="col-lg-3 control-label">
 xyz:
 </label>
 <div class="col-lg-9"><input id="xyz" name="xyz" value="[#XYZ#]" type="text" class="form-control"></div>
</div>
<!-- DT (varchar) -->
<div class="form-group[#if ERR_DT#] has-error[#endif#]">
 <label for="dt" class="col-lg-3 control-label">
 dt:
 </label>
 <div class="col-lg-9"><input id="dt" name="dt" value="[#DT#]" type="text" class="form-control"></div>
</div>
<div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
        </div>
</div>
</fieldset>
</form>
